<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your to-do list</title>
    <link rel="stylesheet" href="main.css" class="stylesheet">
</head>
<header>
    <form action="/" method="GET">
        <input type="submit" value="today" placeholder="Today's To-do List">
    </form> 
    <form action="/work" method="GET">
        <input type="submit" value="works" placeholder="Your works TBD">
    </form>
</header>
